[DEFAULT]
; cfgfile = settings.cfg    ; not really useful as default in command-line option

[application]
; core application info embedded in the source files (these are unused)
; name = SEQUOIA Engine
; version = 0.0.1 (alpha)
; copyright = Harris Georgiou (c) 2020, Licence: CC-BY-SA/4.0i


[logging]
; filename base used for rotation
filename = error.log
; logging reporting level, valid values:
;   CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET
level = DEBUG
maxBytes = 10000000
when = M
interval = 1
backupCount = 5

